input[type="month"]:focus {
	outline: none;
}
input[type="month"] {
	border: none;
}

input[type="month"]::-webkit-calendar-picker-indicator {
	background: transparent;
	bottom: 0;
	color: transparent;
	cursor: pointer;
	height: auto;
	left: -20px;
	position: absolute;
	right: 0;
	top: 0;
	width: auto;
}