@mixin flexCenter {
	display: flex;
	justify-content: center;
}
@mixin content {
	display: block;
	content: "";
	clear: both;
}
@mixin wh($width,$height) {
	width: $width;
	height: $height;
}
@mixin bd($size,$style,$color) {
	border: $size $style $color;
	box-sizing: border-box;
}
@mixin effect {
	transition: all 0.5s ease-in-out;
}
@mixin position($position,$top,$left) {
	position: $position;
	top: $top;
	left: $left;
}