/*
color
 */
$white: #ffffff;
$black: #111;
$dark:#333;
$medium-gray:#555;
$gray:#777;
$light-gray:#999;
$box-color:#ddd;




/**
back up
 */

$outgoingColor: #315DEA;




$mainColor: #ffb18e;
$subColor: #ff8c8c;
$red: #ff0000;
$gray: #989898;
//$white: #ffffff;
//$black: #333333;
$lightgray: #ebebeb;
$darkgray: #585454;
$bgGray: #f2f2f2;
$bgRed: #FBE3E3;
$bgGradient: linear-gradient(to right, $mainColor, $subColor);
$color-smallBtn: linear-gradient(115deg, #ffceb8 3%, #ffb18e 21%, #ffb18e 81%, #ff8c8c);
$color-smallBtn-active: linear-gradient(122deg, #ffceb8, #ffb18e);